* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f9f9f9;   
}
header {
    display: flex;    
    align-items: center;
    margin-bottom: 1%;
}
.logo {
    flex: 2;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 70%;
    height: 60%;
}
.titulos {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulos h1{
    color: #0F333D;
}
.menu {
    margin-bottom: 1%;
}
.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #0F333D;
    height: 50px;
    text-decoration: none;
}
.menu a:hover {
    background:#2997A3;
    color: #fff;

}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li {
    position: relative;
    width: 100%;
    text-align: center;
}
.menu li:hover .submenu>li {
    top: 0;
    display: block;
}
.submenu li {
    display: none;
    position: relative;
}
.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.submenu li:hover {
    display: block;
}
.contenedor-cuerpo {
    display: grid;
    grid-template-columns: 70% 30%;
}
.contenedor-sections {
    /*background: rgb(230, 229, 229);*/
}
.contenedor-cuerpo .contenedor-sections section article h2, .contenedor-cuerpo .contenedor-sections section article h4 {
    text-align: center;
    margin: 3% 0%;
}
.contenedor-cuerpo .contenedor-sections section article p {
    margin-bottom: 2%;
    padding: 0% 2%;
}
.contenedor-cuerpo .contenedor-sections section article div {
    text-align: center;
}
.contenedor-cuerpo .contenedor-sections section article div .img-2{
    width: 50%;
}
.contenedor-cuerpo .contenedor-sections section article div .img-1{
    width: 30%;
}
.contenedor-temas {
    /*background: #98E0FA;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10% 0%;
}
.contenedor-temas .tema{
    background: #F0F3F5;
    width: 40%;
    height: 90%;   
}
.tema h3 {
    text-align: center;
    margin: 3% 0%;
}
.tema p {
    margin-bottom: 2%;
    padding: 0% 2%;
}
aside {
    height: 100%;
}
.contenedor-acerca {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.contenedor-acerca .info{
    width: 50%;
}
.contenedor-acerca .foto{
    width: 20%;
    height: 30%;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #0F333D;
    color: #F0F3F5;
    height: 80%;
    min-height: 150px;
}
footer .left {
    width: 30%;
}
footer .right {
    width: 30%;
}
footer .right a:visited, footer .right a:active {
    color: #F0F3F5;
}